<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <link rel="stylesheet" href="css/about-us/styles.css">

    <!-- Font-Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/navbar.css">
    <!-- Fontawsome -->
    <script src="https://kit.fontawesome.com/28f40304a9.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <hr>
    <div class="About_us">
        <div>
            <img class="About_img" src="image/about-us/about us.jpg" alt="">
        </div>

        <div class="about-section">
            <h1>About Us Page</h1>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin
                literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia,
                looked up one of the more obscure
                Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                classical
                literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum"
                (The Extremes of Good and Evil)
                by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                Renaissance. The first line of Lorem
                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

        </div>
    </div>

    <hr>
    <h2 class="after_content">FOUNDER</h2>
    <div class="founder_details">
        <div class="cards">
            <img class="person_img" src="image/about-us/img1.png" alt="founder_image">
            <h2>Name of Founder</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cumque eos blanditiis numquam omnis delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat! Lorem ipsum dolor </p>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/facebook.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/twitter.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/instagram.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/linkedin.png"
                    alt="facebook"></a>
        </div>
        <div class="cards">
            <img class="person_img" src="image/about-us/img1.png" alt="founder_image">
            <h2>Name of Founder</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cumque eos blanditiis numquam omnis delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat! Lorem ipsum dolor </p>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/facebook.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/twitter.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/instagram.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/linkedin.png"
                    alt="facebook"></a>
        </div>
        <div class="cards">
            <img class="person_img" src="image/about-us/img1.png" alt="founder_image">
            <h2>Name of Founder</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cumque eos blanditiis numquam omnis delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quaerat! Lorem ipsum dolor </p>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/facebook.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/twitter.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/instagram.png"
                    alt="facebook"></a>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="image/about-us/linkedin.png"
                    alt="facebook"></a>
        </div>
    </div>
    <hr>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li> <a href="#">About Us</a></li>
                        <li> <a href="#">Our service</a></li>
                        <li> <a href="#">privacy policy</a></li>
                        <li> <a href="#">affilate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li> <a href="#">FAQ</a></li>
                        <li> <a href="#">shipping</a></li>
                        <li> <a href="#">returns</a></li>
                        <li> <a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow Us</h4>
                    <div class="social-links">
                        <a href="#"> <i class="fab fa-facebook-f"></i></a>
                        <a href="#"> <i class="fab fa-twitter"></i></a>
                        <a href="#"> <i class="fab fa-instagram"></i></a>
                        <a href="#"> <i class="fab fa-linkedin-in"></i></a>
                        </ul>
                    </div>

                </div>
                <div class="footer-col">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15088.003602212737!2d72.84980803728104!3d19.01968198362824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf23e33b414f%3A0x27c485f4bd033e29!2sAcworth%20Municipal%20Hospital%20For%20Leprosy%2C%20Major%20R%20Parameswaran%20Rd%2C%20Wadala%2C%20Mumbai%2C%20Maharashtra%20400031!5e0!3m2!1sen!2sin!4v1628596916810!5m2!1sen!2sin"
                        width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
    </footer>
</body>

</html>