<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/donation/donation.css">
    <link rel="stylesheet" href="css/donation/button.css">
    <link rel="stylesheet" href="css/donation/payment-form.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Donation Page</title>
</head>
<body onload="myFunction()">
    <div id="loading"></div>
    {{>navbar}}


    <!-- Banner area -->
    <div class="banner">
        <div class="inner-container">
            <h1>Please Connect with Us </h1>
            <h2>You can donate here</h2>
            <a href="#"><button>Donate</button></a>
        </div>
    </div>
    <br>



    <div class="main-container">
        <div class="container">

        
            <!-- Information related to donation -->
            <div class="leftsidedetails column">
                <div class="donate">
                    <div class="img">
                        <img src="image/donation/scenery.jpg" alt="img">
                    </div>
                
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A corrupti libero possimus neque! Consectetur mollitia in molestiae est cupiditate voluptatibus tenetur quas accusamus quibusdam quos dolor minima ea, rerum dolorum accusantium voluptate nostrum nobis beatae atque hic suscipit cum distinctio! Cupiditate ullam beatae impedit facere aut dolores debitis maxime, animi voluptatem quod quo. Laudantium quis delectus reiciendis architecto cum eius aspernatur commodi nulla, similique obcaecati et voluptates atque iure, expedita aut ipsam enim? Possimus, repellat? Tenetur necessitatibus ipsum sint nostrum blanditiis ex sed amet velit iste, ipsam, est sunt iusto nisi qui. Beatae velit dolorem dolore. Totam quidem culpa ea necessitatibus? Perspiciatis ad minus repellat unde voluptatibus fuga velit alias doloribus laborum officia neque sapiente in, necessitatibus qui error odit mollitia earum officiis, exercitationem eos fugiat cumque assumenda? Assumenda quos tempore tempora odio amet ab, exercitationem nobis consequuntur nam dicta fugiat consectetur pariatur sapiente sunt animi nostrum nesciunt veritatis! Debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, minus? A reprehenderit possimus cum id consectetur eligendi, itaque earum natus et ex veritatis asperiores dignissimos praesentium odio molestias ad minus eius. Est perspiciatis, rem ullam architecto omnis ad. Nulla culpa sunt saepe quibusdam odio vel placeat voluptas autem vitae. Nostrum cumque quos voluptas, ullam ipsa voluptate? Autem veniam repudiandae ipsum omnis id deserunt architecto debitis? Non officiis mollitia explicabo laudantium veritatis. Officia maxime cumque voluptatem dolorem accusamus commodi nisi tempore quasi cupiditate nesciunt. Incidunt fugiat illum iste nesciunt, odit ullam vitae blanditiis, quasi a quia voluptatibus, distinctio quaerat sit ab.</p>
                </div>
            </div>
            
        



            <!-- Donation area -->
            <section class="rightsidedetails">


                <div class="bar">
                    <div class="step">
                        <div class="bullet">
                        </div>
                        <p>Education</p>
                    </div>
                    <!-- <div class="step">
                        <em>
                            <div class="bullet">
                                
                            </div>
                        </em>
                        <p> DISASTER PREPAREDNESS & RESPONSE</p>
                    </div> -->
                    <div class="step">
                        <div class="bullet">
                            
                        </div>
                        <p>HEALTH</p>
                    </div>
                    <div class="step">
                        <div class="bullet">
                            
                        </div>
                        <p>LIVELIHOOD</p>
                    </div>
                </div>

                <!-- Amount decision section -->
                <section class="form">
                    <h1>Education</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae harum cumque quae tempore aliquam, labore numquam et quo voluptates dolor exercitationem quibusdam? Neque et non necessitatibus temporibus! Ratione provident reprehenderit iste ipsa officiis ut. Nobis dicta perferendis culpa incidunt quasi, est, ducimus possimus ratione officiis quos ut illo illum reprehenderit debitis laudantium quam eius repellat architecto iste adipisci facere. Harum mollitia porro incidunt illum? Velit dolorem pariatur cupiditate tempora!</p>
            
            
                    <ul class="donationlist">
                        <li>
                            <div class="radiobox">
                                <label for="2-dontation1">
                                    <em class="is-checked">
                                        <input name="price" value="50000" id="2-dontation1" checked="" type="radio">
                                    </em>
                                    INR 50000
                                </label>
                            </div>
                            <p>
                                for providing one hospital bed for one month in make-shift COVID facility
                            </p>
                        </li>
                        <li>
                            <div class="radiobox">
                                <label for="2-dontation2">
                                    <em>
                                        <input name="price" value="25000" id="2-dontation2" type="radio">
                                    </em>
                                    INR 25000
                                </label>
                            </div>
                            <p>for providing essential medical consumables and PPE kits to make-shift COVID facilities
                            </p>
                        </li>
                        <li>
                            <div class="radiobox">
                                <label for="2-dontation3">
                                    <em>
                                        <input name="price" value="15000" id="2-dontation3" type="radio">
                                    </em>
                                    INR 15000
                                </label>
                            </div>
                            <p>for raising awareness around COVID appropriate behaviour in communities</p>
                        </li>
                        <li class="lastotheramt">
                            <div class="inputbox">
                                <span class="radiobox">
                                    <label for="2-dontation-custom">
                                        <em id="amtlast">
                                            <input name="price" value="custom" id="2-dontation-custom" type="radio" class="otheramtradio">
                                        </em>
                                    </label>
                                </span>
                                <input id="otheramt" name="otheramt" placeholder="Any other amount" type="text" onkeypress="return isNumber(event)" class="otheramttext" disabled="disabled">
                            </div>
                        </li>
                    </ul>

                    <button>Proceed</button>
                </section>
                
            </section>
        </div>
    </div>

    <div class="account">
        <h2>Payment Form</h2>
            <form method="POST" action="./payment page/payment.html" >
                <!-- Account information -->
                <h4>Account</h4>
                <div class="input_group">
                    <div class="input_box">
                        <input type="text" placeholder="First Name" required class="name">
                        <i class="fa fa-user icon"></i>
                    </div>
                    <div class="input_box">
                        <input type="text" placeholder="Last Name" required class="name">
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="input_group">
                    <div class="input_box">
                        <input type="email" placeholder="Email Address" required class="name">
                        <i class="fa fa-envelope icon"></i>
                    </div>
                    <div class="input_box">
                        <input type="date" placeholder="Email Address" required class="name">
                        <i class="fa fa-calendar icon"></i>
                    </div>
                </div>
                <div class="input_group">
                    <div class="input_box">
                        <input type="text" placeholder="Phone Number" required class="name">
                        <i class="fas fa-phone-alt icon"></i>
                    </div>
                    <div class="input_box">
                        <input type="text" placeholder="Pan Card Number" required class="name">
                        <i class="far fa-id-card icon"></i>
                    </div>
                </div>

                <!-- DOB & Gender Start -->

                <div class="input_group">
                    <div class="input_box">
                        <h4>Date Of Birth</h4>
                        <input type="text" placeholder="DD" required class="dob">
                        <input type="text" placeholder="MM" required class="dob">
                        <input type="text" placeholder="YYYY" required class="dob">
                    </div>
                    <div class="input_box">
                        <h4>Gender</h4>
                        <input type="radio" name="gender" required class="radio" id="b1" checked>
                        <label for="b1">Male</label>
                        <input type="radio" name="gender" required class="radio" id="b2">
                        <label for="b2">Female</label>
                    </div>
                </div>

                <!-- DOB & Gender End -->


                <div class="input_group">
                    <div class="input_box">
                        <input type="text" placeholder="Address1" required class="name">
                        <i class="fa fa-map-marker-alt icon" aria-hidden="true"></i>
                    </div>
                    <!-- <div class="input_box">
                        <input type="text" placeholder="Address2" required class="name">
                        <i class="fa fa-map-marker-alt icon" aria-hidden="true"></i>
                    </div> -->
                </div>
                <div class="input_group">
                    <div class="input_box">
                        <input type="text" placeholder="City" required class="name">
                        <i class="fas fa-city icon"></i>
                    </div>
                    <div class="input_box">
                        <select name="states" class="name">
                            <option value="">Select State</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>   
                            <option value="">None</option>   
                        </select>
                        <i class="fa fa-university icon"></i>
                    </div>
                    <div class="input_box">
                        <input type="text" placeholder="Pincode" required class="name">
                        <i class="fas fa-map-marker-alt icon"></i>
                    </div>
                </div>
                <!-- Account Information End -->


                <div class="donate-btn">
                    <button type="submit" class="donateformbtn">
                        <span> Continue 
                            <i class="fa fa-caret-right"></i>
                        </span>
                    </button>
                </div>
                <span class="cancel-sec">
                    OR
                    <a href="#">Cancel</a>
                </span>


                

            </form>
        </div>

        <br>


    {{>footer}}

    <!-- <script src="./Donation.js"></script> -->
    <script>

        var preloader = document.getElementById('loading');

        function myFunction() {
            preloader.style.display = 'none';
        }
    </script>
</body>
</html>