<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>home page</title>
    <script src="https://kit.fontawesome.com/28f40304a9.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>

    {{>navbar}}


    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="image/index/carousal/World_NGO_Day.jpg" class="d-block w-100" alt="doremon">
          </div>
          <div class="carousel-item">
            <img src="image/index/carousal//ngo.jpg" class="d-block w-100" alt="hotel">
          </div>
          <div class="carousel-item">
            <img src="image/index/carousal//hands.jpg" class="d-block w-100" alt="family guy">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    
   

        <h2>what we <span> do</span></h2>
        <div class="main">


          <!--cards -->
       
       <div class="card">
       
       <div class="image">
          <img src="image/index/card/life.png">
       </div>
       <div class="title">
        <h1>
      FINANCIAL SUPPORT</h1>
       </div>
       <div class="des">
        <p>You can Add Desccription Here...</p>
       <button>Read More...</button>
       </div>
       </div>
         
          <!--cards -->
       
       <div class="card">
       
       <div class="image">
          <img src="image/index/card/donate.png">
         </div>
       <div class="title">
        <h1>
      FOOD AND MEDICINES</h1>
       </div>
       <div class="des">
        <p>You can Add Desccription Here...</p>
       <button>Read More...</button>
       </div>
       </div>
        <!--cards -->

<div class="card">

<div class="image">
   <img src="image/index/card/donate clothes.jpg">
</div>
<div class="title">
 <h1>
CLOTHES DONATION</h1>
</div>
<div class="des">
 <p>You can Add Desccription Here...</p>
<button>Read More...</button>
</div>
</div>
  </div>
  <!--donation count-->
  <div class="counter-container">
    <i class="fas fa-mug-hot fa-3x"></i>
    <div class="counter" data-target="4000"></div> 
    <span>donations count</span>
    </div>

  <div class="counter-container">
    <i class="fas fa-users fa-3x"></i>
    <div class="counter" data-target="15000"></div> 
    <span>Happy</span>
   </div>

  <div class="counter-container">
    <i class="fas fa-tasks fa-3x"></i>
    <div class="counter" data-target="8750"></div> 
    <span>donations count</span>
   </div>
  <!--donation count-->

  
        <hr>
        <h4 class="text-center">OUR FOUNDER</h4>
        <center> <img src="image/index/founder-profile.png" class="rounded-circle" alt="..."> </center>
        
        <div class="wrapper">
            <div class="button">
           <div class="icon"><i class="fab fa-facebook-f"></i></div>
              <a>Facebook</a>
            </div>
            <div class="button">
              <div class="icon"><i class="fab fa-twitter"></i></div>
              <a>Twitter</a>
            </div>
            <div class="button">
              <div class="icon"><i class="fab fa-instagram"></i></div>
              <a>Instagram</a>
            </div>
            
      
            <div class="button">
              <div class="icon"><i class="fab fa-linkedin-in"></i></div>
              <a>linkedin</a>
            </div>
          </div>
    </div> 
    <div>    
  <p>
    We are a not-for-profit organisation that builds capacity of communities to ensure empowerment for marginalised women and girls.
     Our sustainable and holistic interventions in Health, Livelihood, Education and Disaster Relief & Resilience, provide innovative solutions to deep-rooted development problems.
    Our work has become even more urgent and necessary, as millions of people around the country are battling Covid-19. our NGO has been responding promptly to the pandemic with the support of its domestic and international donors, working closely with state governments & local administrations to support marginalised communities </p>
    </div>
    <!--contact-us -->
    <h3>contact us</h3>
    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationCustom02"  required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Email</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">E</span>
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">City</label>
        <input type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom04" class="form-label">State</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>andhra pradesh</option>
          <option>arunachal pradesh</option>
          <option>assam</option>
          <option>bihar</option>
          <option>chhatisgarh</option>
          <option>goa</option>
          <option>gujrat</option>
          <option>haryana</option>
          <option>himachal pradesh</option>
          <option>jharkhand</option>
          <option>karnataka</option>
          <option>kerala</option>
          <option>madhya pradesh</option>
          <option>maharashtra</option>
          <option>manipur</option>
          <option>meghalaya</option>
          <option>mizoram</option>
          <option>nagaland</option>
          <option>odisha</option>
          <option>punjab</option>
          <option>rajasthan</option>
          <option>sikkim</option>
          <option>tamil nadu</option>
          <option>telangana</option>
          <option>tripura</option>
          <option>uttar pradesh</option>
          <option>uttarakhand</option>
          <option>west bengal</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom05" class="form-label">pincode</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a valid pincode.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
    {{>footer}}


    <script src="js/counter.js"></script>
</body>
</html>