<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- <link rel="stylesheet" href="home.css"> --}}
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home/carousel.css">
    <link rel="stylesheet" href="css/home/index.css">
    <link rel="stylesheet" href="css/home/contactUs.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <!-- header -->
    {{>navbar}}


    <!-- carousel  -->
    <div class="carousel_css">
        <div class="slider">
              <div class="slide active">
                <img src="image/index/carousel/1.jpg" alt="">
                <div class="info">
                  <h2>Winter Mountains</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="slide">
                <img src="image/index/carousel/2.jpg" alt="">
                <div class="info">
                  <h2>Tropical Desert</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="slide">
                <img src="image/index/carousel/3.jpg" alt="">
                <div class="info">
                  <h2>Steaming Volcanoes</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="slide">
                <img src="image/index/carousel/4.jpg" alt="">
                <div class="info">
                  <h2>Mountain River</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="slide">
                <img src="image/index/carousel/5.jpg" alt="">
                <div class="info">
                  <h2>Egypt Pyramids</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              <div class="navigation">
                <i class="fas fa-chevron-left prev-btn"></i>
                <i class="fas fa-chevron-right next-btn"></i>
              </div>
              <div class="navigation-visibility">
                <div class="slide-icon active"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
              </div>
            </div>
      </div>

    <!-- Main Content of the page -->

    <!-- cards :- what we do -->
    <h3 class="after_content">What we do </h3>
    <div class="volunteer_details">
        <div class="cards">
            <img class="person_img" src="image/index/card/life.png" alt="Volunteer_image">
            <p>Financial Support</p>
            <button>Read More</button>            
            
        </div>
        <div class="cards">
            <img class="person_img"  src="image/index/card/donate.png" alt="Volunteer_image">
            <p>Foods and Medicines</p>
            <button>Read More</button>
        </div>
        <div class="cards">
            <img class="person_img"  src="image/index/card/donate clothes.jpg" alt="Volunteer_image">
            <p>Donation of Cloths</p>
            <button>Read More</button>
        </div>
    </div>

    <!--donation count-->
    <div class="counting">
    <div class="counter-container">
      <i class="fas fa-users fa-7x"></i>
      <div class="counter" data-target="4000"></div> 
      <span class="num-text">Number of people in our NGO </span>
     </div>
  
     <div class="counter-container">
      <i class="fas fa-users fa-7x"></i>
      <div class="counter" data-target="4000"></div> 
      <span class="num-text">Number of people in our NGO </span>
     </div> 
  
     <div class="counter-container">
      <i class="fas fa-users fa-7x"></i>
      <div class="counter" data-target="4000"></div> 
      <span class="num-text" >Number of people in our NGO </span>
     </div>
    </div>

    <!-- Our founder  -->
    <div class="our-founder">
      <div class="founder">
          <img class="person_img" src="image/index/person.jpg" alt="Volunteer_image">
          <p class="name">Name of Volunteer</p>
          <p>We are a not-for-profit organisation that builds capacity of communities to ensure empowerment for marginalised women and girls. Our sustainable and holistic interventions in Health, Livelihood, Education and Disaster Relief & Resilience, provide innovative solutions to deep-rooted development problems. Our work has become even more urgent and necessary, as millions of people around the country are battling Covid-19. our NGO has been responding promptly to the pandemic with the support of its domestic and international donors, working closely with state governments & local administrations to support marginalised communities</p>
          <p class="name" >Connect with him</p>
          <a href="#" target="_blank"> <img class="social_platform" src="image/index/social/facebook.png" alt="facebook"></a>
          <a href="#" target="_blank"> <img class="social_platform" src="image/index/social/twitter.png" alt="twitter"></a>
          <a href="#" target="_blank"><img class="social_platform" src="image/index/social/instagram.png" alt="face"></a>
          <a href="#" target="_blank"><img class="social_platform" src="image/index/social/linkedin.png" alt="link"></a>
      </div>
    </div>

    <!-- contact-us -->
    <div class="contact-us">

      <div class="wrapper">
        <p>Send us a Message</p>
        <form action="#">
          <div class="dbl-field">
            <div class="field">
              <input type="text" name="name" placeholder="Enter your name">
              <i class='fas fa-user'></i>
            </div>
            <div class="field">
              <input type="text" name="email" placeholder="Enter your email">
              <i class='fas fa-envelope'></i>
            </div>
          </div>
          <div class="dbl-field">
            <div class="field">
              <input type="text" name="phone" placeholder="Enter your phone">
              <i class='fas fa-phone-alt'></i>
            </div>
            <div class="field">
              <input type="text" name="website" placeholder="Enter your website">
              <i class='fas fa-globe'></i>
            </div>
          </div>
          <div class="message">
            <textarea placeholder="Write your message" name="message"></textarea>
            <i class="material-icons"></i>
          </div>
          <div class="button-area">
            <button type="submit">Send Message</button>
            <span></span>
          </div>
        </form>
      </div>

    </div>



    <!-- footer -->
    {{>footer}}

    <script src="javascript/home/carousel.js"></script>
    <script src="javascript/home/home.js"></script>

</body>
</html>