<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/volunteer/volunteer.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Volunteer </title>
</head>
<body>
    {{>navbar}}

    <div class="img_slider">
        <figure>
            <img src="#" alt="slider img 1">
            <img src="#" alt="slider img 2">
            <img src="#" alt="slider img 3">
        </figure>
    </div>

    <h3 class="before_content" >Getting Familiar with NGO</h3>
    <div class="content">
        <p class="ngo_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iure dolor officiis recusandae nulla magni ipsam laboriosam pariatur, possimus modi praesentium veritatis dolores, optio neque nihil ex ducimus eligendi provident dicta ad, libero velit rerum tempora sunt. Eos quibusdam eaque praesentium blanditiis. Recusandae aut cumque sapiente rem nam possimus consequatur facere blanditiis architecto iure nesciunt natus labore, omnis, harum ex ducimus dolore accusantium fuga eaque vero, soluta quos sequi ab? Labore necessitatibus perspiciatis incidunt iste voluptatem deleniti. Atque, illo. Dicta error sint dolore rem magni voluptatem provident, rerum delectus dolor hic enim in modi ea necessitatibus est perspiciatis beatae dolorum odio libero iste dolorem. Vero, quo. Nesciunt, excepturi. Nihil vero, quod debitis eligendi incidunt facilis, alias esse itaque ab assumenda repudiandae officiis aliquid? Nemo pariatur accusamus maiores earum inventore debitis, cupiditate temporibus nostrum rem voluptas iusto, quidem consequuntur rerum itaque velit consectetur maxime tenetur similique eveniet molestias vel aperiam. Error culpa modi iste commodi distinctio nesciunt earum blanditiis explicabo incidunt optio voluptates, ullam ipsam, itaque veritatis alias quam quo atque necessitatibus quae illo ipsa adipisci? Ipsam ducimus aliquid cupiditate amet architecto sed commodi ullam corrupti, aut suscipit non corporis quisquam sequi provident sapiente tempora doloribus doloremque eum exercitationem maxime numquam, assumenda, perspiciatis voluptate. Deleniti accusantium eveniet sapiente! Vel nihil facere maxime fugiat recusandae, inventore delectus voluptatem nesciunt id doloremque eveniet rerum atque porro unde perspiciatis et deleniti vitae. Nesciunt, iste. Temporibus autem impedit quo quisquam error perspiciatis officiis eveniet repellat numquam repellendus ut inventore, officia nisi nemo molestiae perferendis deleniti.</p>
        <div class="form">
            <form action="">
                <h2>Volunteer form</h2>
                    
                <p> Name <input type="text" placeholder="Enter your Name"></p>
                <p>Contact Number <input type="text" placeholder="Enter your Contact Number"></p>
                <p>Email ID <input type="email" placeholder="Enter your Email ID"></p>
                <p>Aadhar Number <input type="text" placeholder="Enter your Aadhar Number"> </p>
                <p>Address</p>
                <textarea name="" id="" cols="40" rows="8" placeholder="Enter your Address"></textarea>
                <button type="submit">Submit</button>

            </form>
        </div>
    </div>


    <h3 class="after_content">Meet our Volunteer</h3>
    <div class="volunteer_details">
        <div class="cards">
            <img class="person_img" src="image/volunteer/person.jpg" alt="Volunteer_image">
            <p>Name of Volunteer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit.</p>
            <p>Connect with him</p>
            <a href="https://www.google.com/" target="_blank"> <img class="social_platform" src="images/facebook.png" alt="facebook"></a>
            <img class="social_platform" src="image/volunteer/twitter.png" alt="twitter">
            <img class="social_platform" src="image/volunteer/instagram.png" alt="face">
            <img class="social_platform" src="image/volunteer/linkedin.png" alt="link">
        </div>
        <div class="cards">
            <img class="person_img"  src="image/volunteer/person.jpg" alt="Volunteer_image">
            <p>Name of Volunteer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit.</p>
            <p>Connect with him</p>
            <img class="social_platform" src="image/volunteer/facebook.png" alt="">
            <img class="social_platform" src="image/volunteer/twitter.png" alt="tweet">
            <img class="social_platform" src="image/volunteer/instagram.png" alt="face">
            <img class="social_platform" src="image/volunteer/linkedin.png" alt="link">
        </div>
        <div class="cards">
            <img class="person_img"  src="image/volunteer/person.jpg" alt="Volunteer_image">
            <p>Name of Volunteer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit.</p>
            <p>Connect with him</p>
            <img class="social_platform" src="image/volunteer/facebook.png" alt="">
            <img class="social_platform" src="image/volunteer/twitter.png" alt="tweet">
            <img class="social_platform" src="image/volunteer/instagram.png" alt="face">
            <img class="social_platform" src="image/volunteer/linkedin.png" alt="link">
        </div>
    </div>

    {{>footer}}

</body>
</html>