<header>
    <img class="icon" src="image/icon.webp" alt="icon image">

    <nav class="header">
        <ul class="nav_bar">
            <li class="item"><a href="about-us">About Us</a></li>
            <li class="item"><a href="#">Upcoming Event </a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="volunteer">Volunteering</a></li>
        </ul>
    </nav>
    <a href="donation"><button>Donate Now</button></a>

</header>